/* Colores personalizados para los badges que no trae Bootstrap */
.bg-indigo { background-color: #6610f2 !important; }
.bg-teal { background-color: #20c997 !important; }
.bg-iniciar-sesion { background-color: #6559BA; color: white; }

/* Estilo para el contenedor de información de reportes en el modal */
#mensaje_consulta .report-container {
    border-left: 5px solid #ffc107 !important; /* Color warning */
    background-color: #fcfcfc;
}

#mensaje_consulta label {
    letter-spacing: 0.5px;
    font-size: 0.75rem;
    color: #6c757d;
}
