.badge-consultar { background-color: #2d3436; color: white; }
.badge-eliminar { background-color: #b22222; color: white; }
.badge-registrar { background-color: #0d6efd; color: white; }
.badge-modificar { background-color: #198754; color: white; }
.badge-iniciar-sesion { background-color: #6559BA; color: white; }
.badge-cerrar-sesion { background-color: #9bb7d4; color: #372323; }