@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body{
	background-color: rgb(245, 245, 245);
	position: relative;
	min-height: 100vh;
}

.img_svg {
  filter: invert(30%) sepia(10%) saturate(200%) hue-rotate(-21deg) brightness(1000%) contrast(200%);
}

#footer_global{
	position: absolute;
  	right: 0;  	
  	left: 0;
  	bottom: 0;
  	z-index: 1030;
  	background-color: #3939a9;
}

.form-select.is-invalid, .was-validated .form-select:invalid{
  border-color: var(--bs-form-invalid-border-color) !important;
}
.form-select.is-valid, .was-validated .form-select:valid {
  border-color: var(--bs-form-valid-border-color) !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: var(--bs-form-invalid-border-color) !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: var(--bs-form-valid-border-color) !important;
}