ErrorDocument 404 /haydee-app/vista/error/404_vista.php
ErrorDocument 403 /haydee-app/vista/error/403_vista.php

RewriteEngine On
Options All -Indexes

# Permitir acceso a la raíz, index.php, y carpetas públicas
RewriteCond %{REQUEST_URI} ^/haydee-app/?$ [OR]
RewriteCond %{REQUEST_URI} ^/haydee-app/index\.php$ [OR]
RewriteCond %{REQUEST_URI} ^/haydee-app/recursos/ [OR]
RewriteCond %{REQUEST_URI} ^/haydee-app/vendor/ [OR]
RewriteCond %{REQUEST_URI} ^/haydee-app/vista/
RewriteRule .* - [L]

# Bloquear todo lo demás
RewriteRule ^ - [F]