RewriteEngine On
Options All -Indexes

# Permitir acceso a: (me toco cambiarlo :)
# - La ruta base (con o sin barra final)
# - index.php
# - Carpeta recursos y todo su contenido
# - Carpeta vendor y todo su contenido  
# - Carpeta vista y todo su contenido
RewriteCond %{REQUEST_URI} !^/haydee/?$
RewriteCond %{REQUEST_URI} !^/haydee/index\.php$
RewriteCond %{REQUEST_URI} !^/haydee/recursos/ [OR]
RewriteCond %{REQUEST_URI} !^/haydee/vendor/ [OR] 
RewriteCond %{REQUEST_URI} !^/haydee/vista/
RewriteRule .* - [S=4]  # Salta las próximas 4 reglas si alguna condición anterior es verdadera

# Bloquear todo lo demás
RewriteRule ^ - [F]